{
 :simlayers {:delete-layer {:key :delete_or_backspace}}
 :main [
  {:des "Delete + F7-F12 for Media Keys"
   :rules [
    [:f7  :rewind           :delete-layer]
    [:f8  :play_or_pause    :delete-layer]
    [:f9  :fast_forward     :delete-layer]
    [:f10 :mute             :delete-layer]
    [:f11 :volume_decrement :delete-layer]
    [:f12 :volume_increment :delete-layer]
   ]
  }
 ]
}