{
 :main [
  {
   :des "Hyper Return(;) & Symbols(', /) (original)"
   :rules [
    [:!QWERquote       :!Sreturn_or_enter]
    [:!QWERCquote      :!Creturn_or_enter]
    [:!QWERTquote      :!Treturn_or_enter]
    [:!QWERSquote      :!return_or_enter]
    [:!QWEROquote      :!Oreturn_or_enter]
    
    [:!QWERsemicolon   :hyphen]
    [:!QWERSsemicolon  :!Shyphen]
    [:!QWERCsemicolon  :equal_sign]
    [:!QWEROsemicolon  :!Sequal_sign]

    [:!QWERCslash      :!S1]
    [:!QWERTslash      :!S2]
    [:!QWERSslash      :!S3]
    [:!QWEROslash      :!S4]
    [:!QWERCTslash     :!S5]
    [:!QWERCSslash     :!S6]
    [:!QWERCOslash     :!S7]
    [:!QWERTSslash     :!S8]
   ]
  }
 ]
}