{
 :main [
  {
   :des "Hyper Application (original)"
   :rules [
    ;; E, R, T, Y row
    [:!QWERe  ["open -a Arc"]]
    [:!QWERCe ["open -a 'Google Chrome'"]]
    [:!QWEROe ["open -a Safari"]]
    
    [:!QWERr  ["open -a Finder"]]
    [:!QWERCr ["open -a Terminal"]]
    [:!QWEROr ["open -a Preview"]]
    
    [:!QWERt  ["open -a 'Visual Studio Code'"]]
    [:!QWERCt ["open -a Notes"]]
    [:!QWEROt ["open -a Freeform"]]
    
    [:!QWERy  ["open -a Reminders"]]
    [:!QWERCy ["open -a Mail"]]
    [:!QWEROy ["open -a Calendar"]]
    
    ;; D, F, G row
    [:!QWERd  ["open -a Notion"]]
    [:!QWERCd ["open 'raycast://extensions/notion/notion/quick-capture'"]]    
    [:!QWEROd ["open 'raycast://extensions/raycast/raycast-ai/ai-chat?context=%7B%22preset%22:%22CF1E4494-871F-435E-9134-25B51A75517D%22%7D'"]]

    [:!QWERf  ["open -a Raycast"]]
    [:!QWERCf ["open -a 'Karabiner-Elements'"]]
    [:!QWEROf ["open -a 'Maccy'"]]
    
    [:!QWERg  ["open -a Gemini"]]
    [:!QWERCg ["open -a Claude"]]
    [:!QWEROg ["open -a ChatGPT"]]
    
    ;; Z, X, C row (Raycast extensions)
    [:!QWERz  ["open 'raycast://extensions/raycast/raycast-ai/ai-chat'"]]
    [:!QWERCz ["open 'raycast://ai-commands/request-a-commentary'"]]
    [:!QWEROz ["open 'raycast://ai-commands/summarize-3-points'"]]
    
    [:!QWERx  ["open 'raycast://extensions/mooxl/deepcast/index'"]]
    [:!QWERCx ["open 'raycast://extensions/mooxl/deepcast/englishUS?arguments=%7B%22text%22%3A%e22%22%7D'"]]
    [:!QWEROx ["open 'raycast://extensions/mooxl/deepcast/japanese?arguments=%7B%22text%22%3A%22%22%7D'"]]

    [:!QWERc  ["open 'raycast://extensions/raycast/raycast-notes/raycast-notes'"]]
    [:!QWERCc ["open 'raycast://extensions/raycast/raycast-notes/create-note'"]]
    
    [:!QWERv  ["open 'raycast://extensions/raycast/apple-reminders/create-reminder'"]]

    ;; A Key
    [:!QWERa  ["open -a Rectangle"]]

    [:!QWERb  ["open -a Ollama"]]
    [:!QWERCb  ["open -a 'LM Studio'"]]
   ]
  }
 ]
} 