{
 :simlayers {:delete-layer {:key :delete_or_backspace}}
 :input-sources {:greek {:input_source_id "com.apple.keylayout.Greek"}}

 :main [
  {:des "SandS"
   :rules [[:##spacebar :left_shift nil {:alone :spacebar}]]}

  {:des "L-Command -> English / R-Command -> Japanese"
   :rules [
    [:left_command  :left_command nil {:alone :japanese_eisuu}]
    [:right_command :right_command nil {:alone :japanese_kana}]
   ]}

  {:des "L-Option -> Greek"
   :rules [[:left_option :left_option nil {:alone :greek}]]}

  {:des "Delete + F7-F12 for Media Keys"
   :rules [
    [:f7 :rewind :delete-layer] [:f8 :play_or_pause :delete-layer] [:f9 :fast_forward :delete-layer]
    [:f10 :mute :delete-layer] [:f11 :volume_decrement :delete-layer] [:f12 :volume_increment :delete-layer]
   ]}

  {:des "CapsLock to Hyper"
   :rules [
    [:##caps_lock :!QWEright_shift nil {:alone :escape}]
    [:!QWER#Pescape :caps_lock]
    [:!QWERspacebar :!Tspacebar]
    [:!QWERCspacebar ["open 'raycast://extensions/raycast/emoji-symbols/search-emoji-symbols'"]]
   ]}

  {:des "Hyper Application (original)"
   :rules [
    [:!QWERe  ["open -a Arc"]]
    [:!QWERCe ["open -a 'Google Chrome'"]]
    [:!QWEROe ["open -a Safari"]]
    [:!QWERSe  ["open -a Cursor"]]
    [:!QWERSCe ["open -a 'Visual Studio Code'"]]
    [:!QWERSOe ["open -a Notes"]]

    [:!QWERr  ["open -a Finder"]]
    [:!QWERCr ["open -a Preview"]]
    [:!QWERSr ["open -a iTerm"]]
    [:!QWERSCr ["open -a Terminal"]]

    [:!QWERy  ["open -a Reminders"]]
    [:!QWERCy ["open -a Mail"]]
    [:!QWEROy ["open -a Calendar"]]

    [:!QWERCd  ["open -a Obsidian"]]
    [:!QWERCb  ["open -a Bear"]]
    [:!QWERCl  ["open -a Logseq"]]
    [:!QWERSCd ["open -a Notion"]]

    [:!QWERf  ["open -a Raycast"]]
    [:!QWERCf ["open -a 'Karabiner-Elements'"]]
    [:!QWEROf ["open -a 'Maccy'"]]

    [:!QWERg   ["open -a Claude"]]
    [:!QWERCg  ["open -a ChatGPT"]]
    [:!QWEROg  ["open -a Gemini"]]
    [:!QWERSg  ["open -a Ollama"]]
    [:!QWERSCg ["open -a 'LM Studio'"]]

    [:!QWERz  ["open 'raycast://extensions/raycast/raycast-ai/ai-chat'"]]
    [:!QWERCz ["open 'raycast://ai-commands/request-a-commentary'"]]
    [:!QWEROz ["open 'raycast://ai-commands/summarize-3-points'"]]
    [:!QWERx  ["open 'raycast://extensions/mooxl/deepcast/index'"]]
    [:!QWERCx ["open 'raycast://extensions/mooxl/deepcast/englishUS?arguments=%7B%22text%22%3A%22%22%7D'"]]
    [:!QWEROx ["open 'raycast://extensions/mooxl/deepcast/japanese?arguments=%7B%22text%22%3A%22%22%7D'"]]
    [:!QWERc  ["open 'raycast://extensions/raycast/raycast-notes/raycast-notes'"]]
    [:!QWERCc ["open 'raycast://extensions/raycast/raycast-notes/create-note'"]]
    [:!QWERv  ["open 'raycast://extensions/raycast/apple-reminders/create-reminder'"]]
   ]}
   
  {:des "Hyper Navigation"
   :rules [
    [:!QWERSh    :!Sleft_arrow]
    [:!QWEROCSh  :!SOleft_arrow]
    [:!QWERSTSh  :!CStab]
    [:!QWERTTSh  :!Cleft_arrow]
    [:!QWERSh    :left_arrow]
    
    [:!QWERSj    :!Sdown_arrow]
    [:!QWEROCj   [[:!Sdown_arrow] [:!Sdown_arrow] [:!Sdown_arrow]]]
    [:!QWERSTj   :!Ctab]
    [:!QWERTTj   :!Tdown_arrow]
    [:!QWERj     :down_arrow]

    [:!QWERSk    :!Sup_arrow]
    [:!QWEROCk   [[:!Sup_arrow] [:!Sup_arrow] [:!Sup_arrow]]]
    [:!QWERSTk   :!SCtab]
    [:!QWERTTk   :!Cup_arrow]
    [:!QWERk     :up_arrow]

    [:!QWERSl    :!Sright_arrow]
    [:!QWEROCSl  :!SOright_arrow]
    [:!QWERSTl   :!Ctab]
    [:!QWERTTl   :!Cright_arrow]
    [:!QWERl     :right_arrow]

    [:!QWERSu    :!Spage_up]
    [:!QWEROCu   :!Spage_up]
    [:!QWERSTu   :!OChyphen]
    [:!QWERTTu   :!CTf]
    [:!QWEROu    [[:pointing_button] [:button1]]]
    [:!QWERSOu   [[:pointing_button] [:button1]]]
    [:!QWERu     :page_up]

    [:!QWERSi    :!Shome]
    [:!QWEROCi   [[:end] [:Shome] [:Shome]]]
    [:!QWERSTi   :!CSgrave_accent_and_tilde]
    [:!QWERTTi   :!Ch]
    [:!QWEROi    [[:pointing_button] [:button2]]]
    [:!QWERSOi   [[:pointing_button] [:button2]]]
    [:!QWERi     :home]

    [:!QWERSo    :!Send]
    [:!QWEROCo   [[:home] [:!Send]]]
    [:!QWERSTo   :!Cgrave_accent_and_tilde]
    [:!QWERTTo   :!Tup_arrow]
    [:!QWEROo    [[:pointing_button] [:button4]]]
    [:!QWERSOo   [[:pointing_button] [:button4]]]
    [:!QWERo     :end]

    [:!QWERSp    :!Spage_down]
    [:!QWEROCp   :!Spage_down]
    [:!QWERSTp   :!COequal_sign]
    [:!QWERTTp   "open -a 'Launchpad'"]
    [:!QWEROp    [[:pointing_button] [:button5]]]
    [:!QWERSOp   [[:pointing_button] [:button5]]]
    [:!QWERp     :page_down]
  ]}

  {:des "Hyper Return (original)"
   :rules [
    [:!QWERquote :return_or_enter]
    [:!QWERCquote :!Creturn_or_enter]
    [:!QWERTquote :!Treturn_or_enter]
    [:!QWERSquote :!Sreturn_or_enter]
    [:!QWEROquote :!Oreturn_or_enter]

    [:!QWERsemicolon :return_or_enter]
    [:!QWERCsemicolon :!Creturn_or_enter]
    [:!QWERTsemicolon :!Treturn_or_enter]
    [:!QWERSsemicolon :!Sreturn_or_enter]
    [:!QWEROsemicolon :!Oreturn_or_enter]
   ]}

  {:des "Hyper Symbols (Original)"
   :rules [
    [:!QWERCslash :!S1]
    [:!QWERTslash :!S2]
    [:!QWERSslash :!S3]
    [:!QWEROslash :!S4]
    [:!QWERCTslash :!S5]
    [:!QWERCSslash :!S6]
    [:!QWERCOslash :!S7]
    [:!QWERTSslash :!S8]
   ]}

  {:des "Raycast Window Management (original)"
   :rules [
    [:!QWERCTh ["open -g 'raycast://extensions/raycast/window-management/left-half'"]]
    [:!QWERCTl ["open -g 'raycast://extensions/raycast/window-management/right-half'"]]
    [:!QWERCTk ["open -g 'raycast://extensions/raycast/window-management/top-half'"]]
    [:!QWERCTj ["open -g 'raycast://extensions/raycast/window-management/bottom-half'"]]
    [:!QWERCTu ["open -g 'raycast://extensions/raycast/window-management/maximize'"]]
    [:!QWERCTi ["open -g 'raycast://extensions/raycast/window-management/make-larger'"]]
    [:!QWERCTo ["open -g 'raycast://extensions/raycast/window-management/make-smaller'"]]
    [:!QWERCTp ["open -g 'raycast://extensions/raycast/window-management/reasonable-size'"]]
    [:!QWERCTspacebar ["open -g 'raycast://extensions/raycast/window-management/almost-maximize'"]]
   ]}
 ]
}