    ;; !  | means mandatory
    ;; #  | means optional
    ;; ## | optional any
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
{
 :simlayers {
  :delete-layer     {:key :delete_or_backspace}
  :semicolon-layer  {:key :semicolon}
 }
 :input-sources {:greek {:input_source_id "com.apple.keylayout.Greek"}}

 :main [
  {:des "Base - Modifier Substitutions"
   :rules [
    [:##right_shift   :!Sreturn_or_enter]
    [:##fn            :left_control]
    [:##caps_lock     :!QWEright_shift nil {:alone :escape}]
    [:!QWER#Pescape   :caps_lock]
    [:##right_option  "open 'raycast://extensions/raycast/emoji-symbols/search-emoji-symbols'"]
    [:!QWERspacebar   :spacebar] 
    [:##spacebar      :left_shift nil {:alone :spacebar}] 
   ]}

  {:des "Base - Input Source Switching"
   :rules [
    [:##left_command  :left_command  nil {:alone :japanese_eisuu}]
    [:##right_command :right_command nil {:alone :japanese_kana}]
    [:left_option     :left_option   nil {:alone :greek}]
   ]}

  {:des "Application - Hyper Launchers & Controls"
   :rules [
    ;; --- c / d ---
    [:!QWERCc         "open 'raycast://extensions/raycast/raycast-notes/raycast-notes'"]
    [:!QWERd          "open -a Obsidian"]
    [:!QWERCd         "open -a Bear"]
    [:!QWEROd         "open -a Logseq"]
    [:!QWERSd         "open -a Notion"]

    ;; --- e ---
    [:!QWERe          "open -a Arc"]
    [:!QWERCe         "open -a 'Google Chrome'"]
    [:!QWEROe         "open -a Safari"]
    [:!QWERSe         "open -a Cursor"]
    [:!QWERSCe        "open -a 'Visual Studio Code'"]
    [:!QWERSOe        "open -a Notes"]

    ;; --- f / g ---
    [:!QWERf          "open -a Raycast"]
    [:!QWERCf         "open -a 'Karabiner-Elements'"]
    [:!QWEROf         "open -a 'Karabiner-EventViewer'"]
    [:!QWERSf         "open -a 'Maccy'"]
    [:!QWERg          "open -a Claude"]
    [:!QWERCg         "open -a ChatGPT"]
    [:!QWEROg         "open -a Gemini"]
    [:!QWERSg         "open -a Ollama"]
    [:!QWERSCg        "open -a 'LM Studio'"]

    ;; --- r / t / y / x ---
    [:!QWERr          "open -a Finder"]
    [:!QWERCr         "open -a Preview"]
    [:!QWERSr         "open -a iTerm"]
    [:!QWERSCr        "open -a Terminal"]
    [:!QWERt          "open -a Slack"]
    [:!QWERCt         "open -a Discord"]
    [:!QWERy          "open -a Reminders"]
    [:!QWERCy         "open -a Mail"]
    [:!QWEROy         "open -a Calendar"]
    [:!QWERSx         "open 'raycast://extensions/mooxl/deepcast/index'"]
    [:!QWERCx         "open 'raycast://extensions/mooxl/deepcast/englishUS?arguments=%7B%22text%22%3A%22%22%7D'"]
    [:!QWEROx         "open 'raycast://extensions/mooxl/deepcast/japanese?arguments=%7B%22text%22%3A%22%22%7D'"]
   ]}

  {:des "Navigation - Hyper Mouse, Cursor & Window Actions"
   :rules [
    ;; --- a / s ---
    [:!QWERa          :!Copen_bracket]
    [:!QWERCa         :!STtab]
    [:!QWEROa         :!SOTbackslash]
    [:!QWERSa         :!SCtab]
    [:!QWERTa         :!Tright_arrow]
    [:!QWERs          :!Cclose_bracket]
    [:!QWERCs         :!Ttab]
    [:!QWEROs         :!OTbackslash]
    [:!QWERSs         :!Ctab]
    [:!QWERTs         :!Tleft_arrow]

    ;; --- h ---
    [:!QWERh          :left_arrow]
    [:!QWERCh         :!Sleft_arrow]
    [:!QWEROCh        :!SOleft_arrow]
    [:!QWEROh         {:mkey {:x -1600}}]
    [:!QWERTh         {:mkey {:x -3200}}]
    [:!QWERSOh        {:mkey {:hwheel 128}}]

    ;; --- j ---
    [:!QWERj          :down_arrow]
    [:!QWERCj         :!Sdown_arrow]
    [:!QWEROCj        [:!Sdown_arrow :!Sdown_arrow :!Sdown_arrow]]
    [:!QWEROj         {:mkey {:y 1600}}]
    [:!QWERTj         {:mkey {:y 3200}}]
    [:!QWERSOh        {:mkey {:vwheel 128}}]

    ;; --- k ---
    [:!QWERk          :up_arrow]
    [:!QWERCk         :!Sup_arrow]
    [:!QWEROCk        [:!Sup_arrow :!Sup_arrow :!Sup_arrow]]
    [:!QWEROk         {:mkey {:y -1600}}]
    [:!QWERTk         {:mkey {:y -3200}}]
    [:!QWERSOk        {:mkey {:vwheel -128}}]

    ;; --- l ---
    [:!QWERl          :right_arrow]
    [:!QWERCl         :!Sright_arrow]
    [:!QWEROCl        :!SOright_arrow]
    [:!QWEROl         {:mkey {:x 1600}}]
    [:!QWERTl         {:mkey {:x 3200}}]
    [:!QWERSOl        {:mkey {:hwheel -128}}]

    ;; --- u ---
    [:!QWERu          :page_up]
    [:!QWERCu         :!Spage_up]
    [:!QWEROCu        :!Spage_up]
    [:!QWEROu         {:pkey :button1}]
    [:!QWERTu         {:pkey :button1}]
    [:!QWERSOu        {:mkey {:hwheel -128}}]

    ;; --- i ---
    [:!QWERi          :home]
    [:!QWERCi         :!Shome]
    [:!QWEROCi        [:end :!Shome :!Shome]]
    [:!QWEROi         {:pkey :button2}]
    [:!QWERTi         {:pkey :button2}]
    [:!QWERSOi        {:mkey {:vwheel -128}}]

    ;; --- o ---
    [:!QWERo          :end]
    [:!QWERCo         :!Send]
    [:!QWEROCo        [:home :!Send]]
    [:!QWEROo         {:pkey :button4}]
    [:!QWERTo         {:pkey :button4}]
    [:!QWERSOo        {:mkey {:vwheel 128}}]

    ;; --- p ---
    [:!QWERp          :page_down]
    [:!QWERCp         :!Spage_down]
    [:!QWEROCp        :!Spage_down]
    [:!QWEROp         {:pkey :button5}]
    [:!QWERTp         {:pkey :button5}]
    [:!QWERSOp        {:mkey {:hwheel 128}}]

    ;; --- q / w ---
    [:!QWERq          :!Cq]
    [:!QWERCq         :!Ch]
    [:!QWERSq         "osascript -e 'tell app \"System Events\" to restart'"]
    [:!QWERSCq        "osascript -e 'tell app \"System Events\" to shut down'"]
    [:!QWERSOq        :!CSq]
    [:!QWERw          :!Cw]
    [:!QWERCw         :!CSt]
    [:!QWERSw         :!CTq]
    [:!QWERSCw        "pmset sleepnow"]
    [:!QWERSOw        "pmset displaysleepnow"]

    ;; --- z / x / c / v (Shortcuts) ---
    [:!QWERz          :!Cz]
    [:!QWERCz         :!CSz]
    [:!QWERx          :!Cx]
    [:!QWERc          :!Cc]
    [:!QWERv          :!Cv]

    ;; --- tab ---
    [:!QWERtab        :f6]
    [:!QWERCtab       :!Sf6]
    [:!QWERStab       :launchpad]
   ]}

  {:des "Editing - Hyper Deletion & Word Movement"
   :rules [
    ;; --- n ---
    [:!QWERn          :!Odelete_or_backspace]
    [:!QWERCn         [:!CSleft_arrow :delete_or_backspace]]
    [:!QWEROn         :!Cdelete_or_backspace]

    ;; --- m ---
    [:!QWERm          :delete_or_backspace]
    [:!QWERCm         [:delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace :delete_or_backspace]]
    [:!QWEROm         :!OSdown_arrow]

    ;; --- comma ---
    [:!QWERcomma      :delete_forward]
    [:!QWERCcomma     [:delete_forward :delete_forward :delete_forward :delete_forward :delete_forward :delete_forward :delete_forward :delete_forward :delete_forward :delete_forward :delete_forward :delete_forward]]
    [:!QWEROcomma     :!OSup_arrow]

    ;; --- period ---
    [:!QWERperiod     :!Odelete_forward]
    [:!QWERCperiod    [:!CSright_arrow :delete_or_backspace]]
    [:!QWEROperiod    :!Cdelete_or_backspace]
   ]}

  {:des "Numpad - Hyper Layer"
   :rules [
    [:!QWERSn        :0]
    [:!QWERSm        :1]
    [:!QWERScomma    :2]
    [:!QWERSperiod   :3]
    [:!QWERSj        :4]
    [:!QWERSk        :5]
    [:!QWERSl        :6]
    [:!QWERSu        :7]
    [:!QWERSi        :8]
    [:!QWERSo        :9]
   ]}

  {:des "Shift Numpad - Hyper Layer"
   :rules [
    [:!QWERSCm        :!S1]
    [:!QWERSCcomma    :!S2]
    [:!QWERSCperiod   :!S3]
    [:!QWERSCj        :!S4]
    [:!QWERSCk        :!S5]
    [:!QWERSCl        :!S6]
    [:!QWERSCu        :!S7]
    [:!QWERSCi        :!S8]
    [:!QWERSCo        :!S9]
   ]}

  {:des "Fn Numpad - Hyper Layer"
   :rules [
    [:!QWERSTm        :f1]
    [:!QWERSTcomma    :f2]
    [:!QWERSTperiod   :f3]
    [:!QWERSTj        :f4]
    [:!QWERSTk        :f5]
    [:!QWERSTl        :f6]
    [:!QWERSTu        :f7]
    [:!QWERSTi        :f8]
    [:!QWERSTo        :f9]
    [:!QWERST7        :f10]
    [:!QWERST8        :f11]
    [:!QWERST9        :f12]
   ]}

  {:des "Numpad - Semicolon Layer"
   :rules [
    [:n        :0   :semicolon-layer]
    [:m        :1   :semicolon-layer]
    [:comma    :2   :semicolon-layer]
    [:period   :3   :semicolon-layer]
    [:j        :4   :semicolon-layer]
    [:k        :5   :semicolon-layer]
    [:l        :6   :semicolon-layer]
    [:u        :7   :semicolon-layer]
    [:i        :8   :semicolon-layer]
    [:o        :9   :semicolon-layer]
   ]}

  {:des "Functional - F1-F12 & Hyphen/Equal Controls"
   :rules [
    [:!QWERChyphen       :!Chyphen]
    [:!QWERCequal_sign   :!Cequal_sign]
    [:!QWEROhyphen       :!COhyphen]
    [:!QWEROequal_sign   :!COequal_sign]

    [:!QWER1               :f1]
    [:!QWER2               :f2]
    [:!QWER3               :f3]
    [:!QWER4               :f4]
    [:!QWER5               :f5]
    [:!QWER6               :f6]
    [:!QWER7               :f7]
    [:!QWER8               :f8]
    [:!QWER9               :f9]
    [:!QWER0               :f10]
    [:!QWERhyphen          :f11]
    [:!QWERequal_sign      :f12]
   ]}

  {:des "Functional - Delete Layer Media Keys"
   :rules [
    [:f7              :rewind           :delete-layer]
    [:f8              :play_or_pause    :delete-layer]
    [:f9              :fast_forward     :delete-layer]
    [:f10             :mute             :delete-layer]
    [:f11             :volume_decrement :delete-layer]
    [:f12             :volume_increment :delete-layer]
   ]}

  {:des "Functional - Hyper Media Controls"
   :rules [
    [:!QWERf1         :display_brightness_decrement]
    [:!QWERf2         :display_brightness_increment]
    [:!QWERf3         :!Tup_arrow]
    [:!QWERf4         :launchpad]
    [:!QWERf5         :illumination_decrement]
    [:!QWERf6         :illumination_increment]
    [:!QWERf7         :rewind]
    [:!QWERf8         :play_or_pause]
    [:!QWERf9         :fast_forward]
    [:!QWERf10        :mute]
    [:!QWERf11        :volume_decrement]
    [:!QWERf12        :volume_increment]
   ]}

  {:des "Functional - Hyper Screen Capture"
   :rules [
    [:!QWERCgrave_accent_and_tilde :!CS4]
    [:!QWERgrave_accent_and_tilde  :!CTS4]

    [:!QWERCf13       :!CS3]
    [:!QWERf13        :!CTS3]

    [:!QWERCf14       :!CS6]
    [:!QWERf14        :!CS5]
    [:!QWERf15        :play_or_pause]
   ]}

  {:des "Functional - Hyper Precision Hardware Controls"
   :rules [
    [:!QWERinsert         :!OSdisplay_brightness_increment]
    [:!QWERdelete_forward :!OSdisplay_brightness_decrement]
    [:!QWERhome           :!OSillumination_increment]
    [:!QWERend            :!OSillumination_decrement]
    [:!QWERpage_up        :!OSvolume_increment]
    [:!QWERpage_down      :!OSvolume_decrement]
   ]}

  {:des "Text - Hyper Returns & Symbols"
   :rules [
    ;; --- p ---
    [:!QWERSp              :!Sreturn_or_enter]

    ;; --- open_bracket ---
    [:!QWERopen_bracket   :!S9]
    [:!QWERSopen_bracket  :!Sopen_bracket]
    [:!QWERCopen_bracket  :!Scomma]
    [:!QWEROopen_bracket  :hyphen]
    [:!QWERTopen_bracket  :!Shyphen]

    ;; --- close_bracket ---
    [:!QWERclose_bracket  :!S0]
    [:!QWERSclose_bracket :!Sclose_bracket]
    [:!QWERCclose_bracket :!Speriod]

    ;; --- backslash ---
    [:!QWERbackslash      :grave_accent_and_tilde]
    [:!QWERSbackslash     :!Sbackslash]
    [:!QWERCbackslash     :!Sgrave_accent_and_tilde]
    [:!QWERObackslash     [:!Sgrave_accent_and_tilde :!Sgrave_accent_and_tilde :!Sgrave_accent_and_tilde]]

    ;; --- semicolon --
    [:!QWERsemicolon      :return_or_enter]
    [:!QWERSsemicolon     :!Ssemicolon]
    [:!QWERCsemicolon     :!Creturn_or_enter]
    [:!QWEROsemicolon     :!Oreturn_or_enter]
    [:!QWERTsemicolon     :!Treturn_or_enter]

    ;; --- quote ---
    [:!QWERquote          :return_or_enter]
    [:!QWERSquote         :!Squote]
    [:!QWERCquote         :!Creturn_or_enter]
    [:!QWEROquote         :!Oreturn_or_enter]
    [:!QWERTquote         :!Treturn_or_enter]

    ;; --- slash ---
    [:!QWERslash          :!Cslash]
    [:!QWERSslash         :!Sslash]
    [:!QWERCslash         :!S1]

    ;; --- comma ---
    [:!QWERScomma         :hyphen]

    ;; --- period ---
    [:!QWERSperiod        :hyphen]
   ]}

  {:des "Application - Raycast Window Management"
   :rules [
    [:!QWERCTh        ["open -g 'raycast://extensions/raycast/window-management/left-half'"]]
    [:!QWERCTj        ["open -g 'raycast://extensions/raycast/window-management/make-smaller'"]]
    [:!QWERCTk        ["open -g 'raycast://extensions/raycast/window-management/make-larger'"]]
    [:!QWERCTl        ["open -g 'raycast://extensions/raycast/window-management/right-half'"]]
    [:!QWERCTu        ["open -g 'raycast://extensions/raycast/window-management/toggle-fullscreen'"]]
    [:!QWERCTi        ["open -g 'raycast://extensions/raycast/window-management/maximize'"]]
    [:!QWERCTo        ["open -g 'raycast://extensions/raycast/window-management/almost-maximize'"]]
    [:!QWERCTp        ["open -g 'raycast://extensions/raycast/window-management/center'"]]

    [:!QWEROTh        ["open -g 'raycast://extensions/raycast/window-management/move-left'"]]
    [:!QWEROTj        ["open -g 'raycast://extensions/raycast/window-management/move-up'"]]
    [:!QWEROTk        ["open -g 'raycast://extensions/raycast/window-management/move-down'"]]
    [:!QWEROTl        ["open -g 'raycast://extensions/raycast/window-management/move-right'"]]
    [:!QWEROTu        ["open -g 'raycast://extensions/raycast/window-management/toggle-fullscreen'"]]
    [:!QWEROTi        ["open -g 'raycast://extensions/raycast/window-management/maximize'"]]
    [:!QWEROTo        ["open -g 'raycast://extensions/raycast/window-management/reasonable-size'"]]
    [:!QWEROTp        ["open -g 'raycast://extensions/raycast/window-management/center'"]]

    [:!QWERCTq        ["open -g 'raycast://extensions/raycast/window-management/top-left-sixth'"]]
    [:!QWERCTw        ["open -g 'raycast://extensions/raycast/window-management/top-right-sixth'"]]
    [:!QWERCTa        ["open -g 'raycast://extensions/raycast/window-management/bottom-left-sixth'"]]
    [:!QWERCTs        ["open -g 'raycast://extensions/raycast/window-management/bottom-right-sixth'"]]
   ]}
 ]
}